<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="All Test Suite">
    <test name="Test1">
        <classes>
            <class name="tests_header.ClickLogoT620561"></class>
<!--            <class name="tests_header.LoggerM"></class>-->
            <class name="tests_header.TestAboutBitbon"></class>
            <class name="tests_header.TestAuditAndStatistics"></class>
            <class name="tests_header.TestChangeLogoRoadMap"></class>
            <class name="tests_header.TestMainButtonHeader"></class>
            <class name="tests_header.TestNewsButtonHeader"></class>
            <class name="tests_header.TestProvaiding"></class>
            <class name="tests_header.TestRegistration"></class>
            <class name="tests_header.TestsLinksRoadMap"></class>
            <class name="tests_header.TestsOfHeaderEnableAfterScrollT620562"></class>
            <class name="tests_header.TestСooperation"></class>


        </classes>
    </test>
</suite>




























        <!--    <test verbose="2" preserve-order="true" name="C:/other/CucumberFramework/MyTests">-->
        <!--        <classes>-->

        <!--            <class name="tests_header.Test1"></class>-->
        <!--            <class name="tests_header.Test2"></class>-->

        <!--        </classes>-->

        <!--        <packages>-->
        <!--            <package name="tests_header"></package>-->
        <!--        </packages>-->
        <!--    </test>-->